body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.barchart rect {
    fill: steelblue;
}

.columnchart rect {
    fill: steelblue;
}

.columnchart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}

.bar {
    fill: steelblue;
}

.bar:hover{
    fill: brown
}

.slice path:hover{
    fill: brown
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.slice text {
    font-size: 16pt;
    font-family: Arial;
}

.area {
    fill: steelblue;
    clip-path: url(#clip);
}

.brush .extent {
    stroke: #000;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}